<!DOCTYPE html>
<html>
  <head>
    <title>Poetry App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if flash[:errors] %>
    <%= flash[:errors].join(",") %>
  <% end %>
  <% if logged_in? %>

  <form action = "<%= session_url%>" method = "POST">
    <input type = "hidden" name = "_method" value = "DELETE"/>
    <button>Sign Out</button>
  </form>
  <% end %>
    <%= yield %>
  </body>
</html>
