<!DOCTYPE html>
<html>
  <head>
    <title>User Goal App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if logged_in? %>
Home
Logged in as: <%= current_user.username %>
method='post'> 
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">
  <%= button_to "Sign Out", session_url, method: :delete %>
<% end %> 
<% if flash[:errors] %>
<%= flash[:errors].join(", ") %>
<% end %>
    <%= yield %>
  </body>
</html>
