<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header><h1>Welcome to Cats4Ca$h</h1></header>
    <% if logged_in? %>
      <h2>Welcome,  <%= current_user.user_name %></h2>
    <% else %>
      <a href="<%= new_user_url %>">Sign Up</a>
      <br>
      <a href="<%= new_sessions_url %>">Login</a>
    <% end %>
    
    <form action="<%= sessions_url %>" method='post'>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>


    <%= yield %>
  </body>
</html>
